*{margin:0;padding:0;
box-sizing: border-box;}

main{
	width: 90%; margin: 60px auto;
	border: 3px solid gray;
	display: grid;
	grid-template-rows: 150px 40px;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:5px;
}
.div1{background-color: #4d4747;
grid-column: 1/-1;}
.div2{background-color: orange;
grid-column: 1/-1;}
.div3{background-color: 0437a6;
grid-row: 3/5;
height:507px;
width:250px;
}
.div4{background-color: purple;
height:251px;
width:955px;
}
.div5{background-color: 2e0083;
height:251px;
width:955px;}
.div6{background-color: green;
grid-column: 1/-1;
height:80px;
width:1210px;
}